# Add general dependencies here
# Optional dependencies e.g. [dev] are added in `test-requirements`
click
xarray>=2024.05.0
# tested to work with CMOR 3.11.0 
cmor   
numpy
pyyaml
dask
python-dateutil
cftime
metpy
gsw
